<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timi.sz.wms_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- zxing -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".mvp.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 适配 -->
        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1330"/>

        <activity
            android:name=".mvp.UI.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseThemeMain"/>
        <activity android:name=".mvp.UI.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.UI.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".qrcode.CommonScanActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".mvp.UI.login_success.LoginSuccessActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.StockInActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_out.StockOutActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.StockInWorkActivity">
        </activity>
        <activity android:name=".mvp.UI.quity.QulityActivity">
        </activity>
        <activity android:name=".mvp.UI.query.QueryActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.query.SearchBuyOrderActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.point.StockInPointActivity"/>
        <activity android:name=".mvp.UI.userinfo.UserInfoActivity"/>
        <activity android:name=".mvp.UI.deviceinfo.DeviceInfoActivity"/>
        <activity android:name=".mvp.UI.update_password.UpdatePasswordActivity"/>
        <activity android:name=".mvp.UI.about.AboutActivity"/>
        <activity
            android:name=".mvp.UI.stock_in.putaway.PutAwayActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_in.detail.StockInDetailActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_out.buy_return_material.BuyReturnMaterialActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.buy_return_material.material.ScanReturnMaterialActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.buy_return_material.orderno.BuyReturnMaterialOrderNoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_out.other.scan.OtherOutStockScanActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.other_scan.OtherScanActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_out.query.StockOutSearchActivity">
        </activity>
        <activity android:name=".mvp.UI.quity.quality.QualityCheckActivity">
        </activity>
        <activity
            android:name=".mvp.UI.quity.quality.nomal_quality.NormalQualityActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.divide_print.SplitPrintActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_out.pick.PickActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_out.detail.DetailActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.lib_adjust.LibraryAdjustActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.query.StockInWorkQueryActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.pack_adjust.PackAdjustActivity">
        </activity>
        <activity android:name=".mvp.UI.quity.mrp.MRPReviewActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.allot_scan.AllotScanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.quity.reject.QualityRejectActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".mvp.UI.quity.quality.advance1_quality.Advance1QualityActivity"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.quity.mrp.normal_review.MRPNormalReviewActivity"
            android:hardwareAccelerated="false">
        </activity>
        <activity android:name=".mvp.UI.quity.update_barcode.UpdateBarcodeActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in.putaway.FinishedGoodsAuditPutAwayActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in.putaway.FinishedGoodsCreateBillPutAwayActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in.putaway.OtherAuditActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".mvp.UI.stock_in.putaway.OutMaterialReturnActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.putaway.ProductionMaterialReturnActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in.putaway.SaleGoodsReturnActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.normal_out_stock.NormalOutStockActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.batch_point.BatchPointActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_out.batch_point_list.BatchPointListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_out.detail.outsource_bill_detail.OutsourceBillDetailActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.lib_adjust_detail.LibAdjustDetailActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.form_change_outstock.FormChangeOutstockActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.form_change_instock.FormChangeInstockActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.allot_one_step.OneStepAllotActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.detail.StockInWorkDetailActivity">
        </activity>
        <activity
            android:name=".mvp.UI.list.BuyInStockListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.check.CheckActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.check_record.CheckRecordActivity">
        </activity>
        <activity android:name=".mvp.UI.quity.quality.advance_quality.Advance2Activity">
        </activity>
        <activity android:name=".mvp.UI.stock_out.batch_normal.BatchNormalActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.barcode_exchange.BarcodeExchangeActivity">
        </activity>
        <activity android:name=".mvp.UI.stock_in_work.check_detail.CheckDetailActivity">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.pack_query.PackQueryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".mvp.UI.stock_in_work.goods_query.GoodsQueryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
    </application>

</manifest>